# Taken from https://developer.github.com/actions/creating-github-actions/accessing-the-runtime-environment/#environment-variables

# The proper values of these variables will be substituted when you run the GitHub Action on GitHub. If you need some of these variables for local testing, you can mock their values in your `env` file.

# This is where you would also define your custom variables that you'll define when configuring the Action on GitHub.com

HOME="/github/home."
GITHUB_WORKFLOW="My workflow"
GITHUB_ACTION="My action"
GITHUB_ACTOR="octocat"
GITHUB_REPOSITORY="octocat/hello-action"
GITHUB_EVENT_NAME="event-type"
GITHUB_EVENT_PATH=action/sample-payload.json
GITHUB_WORKSPACE="/github/workspace"
GITHUB_SHA="a10867b14bb761a232cd80139fbd4c0d33264240"
GITHUB_REF="refs/heads/master"
GITHUB_TOKEN="Add your token if you need to use the API on your local tests"
